{% extends 'base.twig' %}
{% block body %}
    <table class="list">
        <thead>
        <tr class="list-item header">
            <td>Langue</td>
            <td>Titre</td>
            <td>Année édition</td>
            <td>Prix</td>
            <td>Auteur</td>
            <td>Editeur</td>
            <td class="list-item-actions no-hover">
                <button onclick="toggleCreate(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#fff"><path d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                </button>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr class="list-item">
                <td>{{ book['language'] }}</td>
                <td>{{ book['title'] }}</td>
                <td>{{ book['edition_year'] }}</td>
                <td>{{ book['price'] }}€</td>
                <td>{{ book['author_firstname']|slice(0,1) }}.{{ book['author_lastname'] }}</td>
                <td>{{ book['editor'] }}</td>
                <td class="list-item-actions">
					<button onclick="window.location.assign('/book/{{ book['id'] }}');">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
							<path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/>
						</svg>
					</button>
                    <button onclick='toggleEdit(event, `{{ book|json_encode|raw }}`)'>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="M200-200h56l345-345-56-56-345 345v56Zm572-403L602-771l56-56q23-23 56.5-23t56.5 23l56 56q23 23 24 55.5T829-660l-57 57Zm-58 59L290-120H120v-170l424-424 170 170Zm-141-29-28-28 56 56-28-28Z"></path>
                        </svg>
                    </button>
                    <form action="/book/delete/{{ book['id'] }}" method="post">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"></path>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        {{ include('book/form.twig.js')|raw }}
        const toggleEdit = (e, book) => {
            book = JSON.parse(book);
            e.preventDefault();
            const template = getForm({
                form_button: 'Modifier',
                form_action: `/book/${book.id}`,
                book
            });
            toggleModal('Modifier', template, false);
        }
        const toggleCreate = (e) => {
            e.preventDefault();
            const template = getForm({
                form_button: 'Créer',
                form_action: '/book'
            });
            toggleModal('Créer', template, false);
        }
    </script>
{% endblock %}
